.glassesShadow {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.glassesModel {
    background: url('../../public/glassesImage/model.jpg');
    background-position: center top;
    background-size: cover;
    height: 500px;
}

.glassesModel img {
    position: absolute;
    top: 24%;
    left: 23%;
    width: 215px;
    height: 85px;
    opacity: 0.9;
}

.glassesCard {
    position: relative;
    overflow: hidden;
    background-color: white;
}

.glassesInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    color: white;
    padding: 5px;
}